@page
@model Aplicacion2NetRazor.Pages.Profesores.IndexModel
@{
    ViewData["Title"] = "Lista de profesores";
}

@if(Model.Mensaje != null)
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      @Model.Mensaje
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
      <span aria-hidden="true">&times;</span>
    </div>   
}

<div class="card">
    <div class="card-header">
        <div>
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="text-info">Lista de profesores</h2>
                </div>
                <div class="col-sm-6">
                    <a asp-page="Crear" class="btn btn-primary">Crear nuevo profesor</a>
                </div>
            </div>

        </div>

</div>
        <div class="card-body">
        @if (Model.Profesores.Count() > 0)
        {
            <table class="table table-striped border">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Profesores.First().idProf)</th>
                    <th>@Html.DisplayNameFor(m => m.Profesores.First().Nombre)</th>
                    <th>@Html.DisplayNameFor(m => m.Profesores.First().Apellido)</th>
                    <th>@Html.DisplayNameFor(m => m.Profesores.First().Esp)</th>
                    <th>@Html.DisplayNameFor(m => m.Profesores.First().Fecha_ing)</th>
                    <th>@Html.DisplayNameFor(m => m.Profesores.First().Fecha_nac)</th>
                    <th>Acciones</th>
                </tr>
                @foreach (var item in Model.Profesores)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.idProf)</td>
                        <td>@Html.DisplayFor(m => item.Nombre)</td>
                        <td>@Html.DisplayFor(m => item.Apellido)</td>
                        <td>@Html.DisplayFor(m => item.Esp)</td>
                        <td>@Html.DisplayFor(m => item.Fecha_ing)</td>
                        <td>@Html.DisplayFor(m => item.Fecha_nac)</td>
                        <td>
                            <a asp-route-id="@item.idProf" asp-page="Editar" class="btn btn-success btn-sm">Editar</a>
                            <a asp-page="Borrar" asp-route-id="@item.idProf" class="btn btn-danger btn-sm">Borrar</a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No hay profesores disponibles para mostrar</p>
        }
    </div>
</div>
